/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
composer.json
/public
server.php
/vendor
artisan
composer.lock
package.json
/storage
webpack.mix.js
/bootstrap
/config
/phpunit.xml
/noutes
/tests
yarn-error.log
